.mainabtop {
  margin-top: 97px;
  background: linear-gradient(#2f3b59b0, #2f3b59b0),
    url("../../img/abouthero.png");
  background-size: cover;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  position: relative;
  padding: 69px 0;
  @include for-phone-only {
    background: linear-gradient(#2f3b59b0, #2f3b59b0),
      url("../../img/abheromobile.png");
    background-position: center center;
    margin-top: 66px;
  }
  .mainabtop__container {
    @include for-phone-only {
      h2 {
        margin: 0 auto;
      }
    }
    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 56px;
      color: $white-clr;
      letter-spacing: -2.5px;
    }
  }
}

.maintop__oval {
  position: absolute;
  display: flex;
  right: -31px;
  column-gap: 24px;
  @include for-phone-only {
    display: none;
  }
  .oval {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
  .oval3 {
    background-color: $white-clr;
  }
}

.mainabpeople-one,
.maintwoab-img {
  max-width: 445px;
  height: auto;
  border-radius: 50%;
}

.mainabone {
  margin: 120px 0;
  .container {
    .heroone__right::after {
      content: "";
      width: 740px;
      height: 150px;
      background-image: url("../../img/aboutpeop1rec.png");
      background-repeat: no-repeat;
      position: absolute;
      right: 0;
      bottom: 38px;
    }
  }
}

.maintwoab {
  margin-bottom: 120px;
}

// mainabinfo

.mainabinfo {
  padding-bottom: 120px;
  .mainabinfo__container {
    justify-content: center;
    h2 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 48px;
      color: $dark-navy-clr;
      letter-spacing: -2.14286px;
      padding-bottom: 103px;
    }
    @include for-phone-only {
      h2 {
        font-size: 32px;
        line-height: 32px;
      }
    }
  }
}

.mainabinfo__containertwo {
  column-gap: 30px;
  flex-wrap: wrap;
  row-gap: 55px;
  .mainabinfo__container--block {
    max-width: 350px;
    text-align: center;
    position: relative;
    h3 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 28px;
      color: $dark-navy-clr;
      padding: 87px 0 27px 0;
      letter-spacing: -1.07143px;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 25px;
      color: $dim-grey-clr;
      text-align: center;
    }
  }
  @include for-left-only {
    text-align: center;
    .mainabinfo__container--block {
      max-width: 100%;
    }
  }
}

.mainabinfo__container--block::before {
  content: "01";
  position: absolute;
  width: 96px;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #fcb72b;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  left: 50%;
  margin-left: -47px;
  top: 199px;
}

.mainabbefor::before {
  content: "02";
}

.mainabbefor1::before {
  content: "03";
}

.maindrop__containerone {
  justify-content: center;
  h2 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $dark-navy-clr;
    letter-spacing: -2.14286px;
    padding-bottom: 64px;
  }
}

.maindrop-left {
  width: 350px;
  h2 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: $dark-navy-clr;
    letter-spacing: -1.78571px;
  }
}

.maindrop__containertwo {
  justify-content: space-between;
  @include for-left-only {
    flex-direction: column;
    .maindrop__right {
      max-width: 100%;
    }
    .maindrop-left {
      width: 100%;
      display: flex;
      justify-content: center;
      h2 {
        margin-bottom: 32px;
      }
      @include for-phone-only {
        h2 {
          font-size: 24px;
          line-height: 28px;
        }
      }
    }
  }
}

.maindropinfo-block:hover{
  background: #FFF4DF;
}

.maindrop__right {
  width: 730px;
}

.maindropinfo-block {
  background: #f2f5f9;
  padding: 32px 40px;
}

.maindropinfo-block:not(:last-child) {
  margin-bottom: 16px;
}

.open {
  display: flex;
  justify-content: space-between;
  h2 {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: $dark-navy-clr;
    letter-spacing: -1.07143px;
  }
}

.p {
  padding-top: 24px;
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: $dark-navy-clr;
}

.three {
  margin-top: 64px;
  margin-bottom: 160px;
}

.open {
  @include for-phone-only {
    h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
