// main herotop
.herotop {
  margin-top: 97px;
  background: linear-gradient(#2f3b59b0, #2f3b59b0), url("../../img/Bitmap.png");
  background-size: cover;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  position: relative;
  padding: 153px 0;
  @include for-phone-only {
    margin-top: 66px;
    background: url("../../img/mobilbit.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0 179px 0;
    height: 100vh;
  }
}

.herotop::before {
  content: "";
  width: 202px;
  height: 15px;
  background-image: url("../../img/line1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 353px;
  @include for-befafter-only {
    top: 410px;
  }

  @include for-left-only {
    background-image: none;
  }
}

.herotop::after {
  content: "";
  width: 446px;
  height: 138px;
  background-image: url("../../img/line2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 288px;
  top: 353px;
  @include for-befafter-only {
    top: 410px;
  }
  @include for-left-only {
    left: -127px;
    top: 475px;
  }

  @include for-phone-only {
    left: -312px;
    top: 450px;
  }
}

.herotop__container-h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 56px;
  color: $white-clr;
  letter-spacing: -2.5px;
  max-width: 500px;
}

.herotop__container-p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  color: $white-clr;
  padding: 40px 0;
  margin-left: 95px;
  max-width: 405px;
}

.herotop__btn {
  margin-left: 95px;
}

.herotop__container--info {
  @include for-left-only {
    max-width: 573px;
    text-align: center;
    margin: 0 auto;
    .herotop__container-h2 {
      max-width: 100%;
    }
    .herotop__container-p {
      margin-left: 0;
      max-width: 100%;
      padding: 24px 0 32px 0;
    }
    .herotop__btn {
      margin-left: 0;
    }
  }
  @include for-phone-only {
    .herotop__container-h2 {
      letter-spacing: -1.78571px;
      font-size: 40px;
      line-height: 40px;
    }
    .herotop__container-p {
      font-size: 15px;
      line-height: 25px;
    }
  }
}

// heromiddle

.heromiddle {
  padding: 160px 0 200px 0;
}

.heromiddle__container {
  column-gap: 28px;
  row-gap: 40px;
  flex-wrap: wrap;
  position: relative;
  @include for-left-only {
    flex-direction: column;
  }
  @include for-phone-only {
    row-gap: 48px;
  }
  .heromiddle__line {
    height: 15px;
    background-color: #e5ecf4;
    top: 40px;
    left: -930%;
    position: absolute;
    width: 1000%;
    z-index: -1;
    @include for-left-only {
      position: absolute;
      height: 1000%;
      width: 15px;
      top: -920%;
      left: 65px;
    }
    @include for-phone-only {
      width: 0;
      height: 0;
    }
  }

  .heromiddle__block {
    max-width: 350px;
    h4 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 28px;
      color: $dark-navy-clr;
      letter-spacing: -1.07143px;
      padding: 40px 0 27px 0;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 25px;
      color: $dim-grey-clr;
    }
    @include for-left-only {
      display: flex;
      max-width: 100%;
      align-items: flex-start;
      column-gap: 79px;
      h4 {
        padding: 0 0 27px 0;
      }
    }
    @include for-phone-only {
      flex-direction: column;
      max-width: 100%;
      text-align: center;
      h4 {
        padding: 24px 0;
      }
      img {
        margin: 0 auto;
        width: 56px;
        height: auto;
      }
    }
  }
}

// herone

.heroone__container {
  justify-content: space-between;
  align-items: center;
  row-gap: 56px;
  @include for-orta-only {
    flex-direction: column-reverse;
  }
}

.heroone--btn {
  padding: 11px 41px;
}

.heroone__left, .herotwo__left {
  max-width: 445px;
  h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: $dark-navy-clr;
    letter-spacing: -2.14286px;
  }
  p {
    font-family: "Lexend Deca";
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    color: $dim-grey-clr;
    line-height: 25px;
    padding: 24px 0 40px 0;
  }
  @include for-orta-only {
    max-width: 573px;
    text-align: center;
  }
  @include for-phone-only {
    h2 {
      font-size: 3.2rem;
      line-height: 32px;
      letter-spacing: -1.42857px;
    }
  }
}

.heroone {
  position: relative;
  overflow-y: hidden;
  width: 100%;
}

.heroone__right, .herotwo__right {
  max-width: 445px;
  overflow: hidden;
  @include for-orta-only {
    max-width: 573px;
  }
  @include for-phone-only{
    img{
      max-width: 100%;
    }
  }
}

.heroone__right::after {
  content: "";
  width: 740px;
  height: 150px;
  background-image: url("../../img/line3.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 0;
  @include for-orta-only {
    top: 307px;
  }

  @include for-left-only {
    right: -100px;
  }
  @include for-table-only {
    left: 32px;
  }
  @include for-phone-only{
    top: 26%;
  }
  @include for-mini-only{
    top: 18%;
  }
}

.heroone__right::before {
  content: "";
  position: absolute;
  width: 445px;
  height: 445px;
  background-image: url("../../img/ovall.png");
  background-repeat: no-repeat;
  right: -344px;
  top: 0;
  @include for-table-only {
    background-image: none;
  }
}

.heroone{
  overflow: hidden;
}


// herotwo

.herotwo{
  margin-top: 160px;
  position: relative;
}

.herotwo__container{
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  row-gap: 56px;
  @include for-orta-only {
    flex-direction: column-reverse;

  }
}

.herotwo__right{
  img{
    @include for-phone-only{
      max-width: 100%;
    }
  }
}

.herotwo__right::after{
  content: "";
  position: absolute;
  width: 738px;
  height: 150px;
  background-image: url("../../img/line4.png");
  background-repeat: no-repeat;
  left: -385px;
  top: 2px;
  @include for-phone-only{
    left: -472px;
  }
}

.herotwo__right::before{
  content: "";
  position: absolute;
  width: 445px;
  height: 445px;
  background-image: url("../../img/ovall.png");
  background-repeat: no-repeat;
  left: -344px;
  top: 0;
  @include for-table-only{
    background-image: none;
  }
}

.container{
  @include for-phone-only{
    max-width: 311px;
  }
}


.heroonerepeat{
  img{
    width: 445px;
    height: 445px;
    border-radius: 50%;
    @include for-phone-only{
      max-width: 100%;
      height: auto;
    }
  }
}

// heroonerepeat

.heroonereapeat{
  margin-top: 160px;
  .heroone__container{
    align-items: center;
  }
}

.heroonerepeat::after{
  top: 106px;
  right: -397px;
  @include for-table-only{
    left: 50%;
  }
  @include for-phone-only{
    top: 7px;
  }
}