// main herotop
.herotop {
  margin-top: 97px;
  background: linear-gradient(#2f3b59b0, #2f3b59b0), url("../../img/Bitmap.png");
  background-size: cover;
  mix-blend-mode: normal;
  background-repeat: no-repeat;
  position: relative;
  padding: 153px 0;
  @include for-phone-only {
    margin-top: 66px;
    background: url("../../img/mobilbit.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 115px 0 179px 0;
    height: 100vh;
  }
}

.herotop::before {
  content: "";
  width: 202px;
  height: 15px;
  background-image: url("../../img/line1.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 0;
  top: 353px;
  @include for-befafter-only {
    top: 410px;
  }

  @include for-left-only {
    background-image: none;
  }
}

.herotop::after {
  content: "";
  width: 446px;
  height: 138px;
  background-image: url("../../img/line2.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 288px;
  top: 353px;
  @include for-befafter-only {
    top: 410px;
  }
  @include for-left-only {
    left: -127px;
    top: 475px;
  }

  @include for-phone-only {
    left: -312px;
    top: 470px;
  }
}

.herotop__container-h2 {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 56px;
  color: $white-clr;
  letter-spacing: -2.5px;
  max-width: 500px;
}

.herotop__container-p {
  font-family: "Lexend Deca";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 25px;
  color: $white-clr;
  padding: 40px 0;
  margin-left: 95px;
  max-width: 405px;
}

.herotop__btn {
  margin-left: 95px;
}

.herotop__container--info {
  @include for-left-only {
    max-width: 573px;
    text-align: center;
    margin: 0 auto;
    .herotop__container-h2 {
      max-width: 100%;
    }
    .herotop__container-p {
      margin-left: 0;
      max-width: 100%;
      padding: 24px 0 32px 0;
    }
    .herotop__btn {
      margin-left: 0;
    }
  }
  @include for-phone-only {
    .herotop__container-h2 {
      letter-spacing: -1.78571px;
      font-size: 40px;
      line-height: 40px;
    }
    .herotop__container-p {
      font-size: 15px;
      line-height: 25px;
    }
  }
}

// heromiddle

.heromiddle {
  padding: 160px 0 200px 0;
}

.heromiddle__container {
  column-gap: 30px;
  row-gap: 40px;
  position: relative;
  @include for-left-only{
    flex-direction: column;
  }
  @include for-phone-only{
    row-gap: 48px;
  }
  .heromiddle__line {
    height: 15px;
    background-color: #E5ECF4;
    top: 40px;
    left: -930%;
    position: absolute;
    width: 1000%;
    z-index: -1;
    @include for-left-only{
        position: absolute;
        height: 1000%;
        width: 15px;
        top: -920%;
        left: 65px;
    }
    @include for-phone-only{
        width: 0;
        height: 0;
    }
  }

  .heromiddle__block {
    max-width: 350px;
    h4 {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 28px;
      color: $dark-navy-clr;
      letter-spacing: -1.07143px;
      padding: 40px 0 27px 0;
    }
    p {
      font-family: "Lexend Deca";
      font-style: normal;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 25px;
      color: $dim-grey-clr;
    }
    @include for-left-only{
        display: flex;
        max-width: 100%;
        align-items:flex-start;
        column-gap: 79px;
        h4{
            padding: 0 0 27px 0;
        }
    }
    @include for-phone-only{
        flex-direction: column;
        text-align: center;
        h4{
            padding: 24px 0;
        }
        img{
            margin: 0 auto;
            width: 56px;
            height: auto;
        }
    }
  }
}
