$yellow-clr: #FCB72B;
$dark-navy-clr: #495567;
$dim-grey-clr: #939CAA;
$light-grey-clr: #E5ECF4;
$snow-clr: #F2F5F9;
$light-yell-clr: #FFF4DF;
$white-clr: white;
$bg-clr: #333A44;
$liner-clr: #2F3B59;